
*{
    --darker-blue: #494d5f;
    --lighter-blue: #d0bdf4;;  
}

html{
    background-color: #e5eaf5;
    margin: 0;
    padding: 0;
} 

header{
    
   
    background-color: var(--darker-blue);
    height: 200px;
    z-index: -1;
    
    
}
header > h1{
    position: absolute;
    top: 20px;
    color: white;
    left: 200px;
    font-size: 4rem;
}
header > h2{
    position: absolute;
    top: 115px;
    left: 200px;
    color: var(--lighter-blue)
}


.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: auto;
    margin-top: 90px;
    margin-left: 4rem;
    margin-right: 4rem;
    
   
    
}

.main-container img{
    height: 150px;
    width: 150px;
    
    
}
.main-container .fruit{
    
   text-align: center;
   background-color: var(--darker-blue);
   flex-basis: 0%;
   flex: 1 1 0px;
   align-self:stretch; 
   margin-top: -30px;
   padding-left: 10px;
   padding-right: 10px;
   
}

.main-container p{
  
    text-align: center;
    color: white;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight:bold;
    
}
  
.fruit{
    
    
    border-radius: 10%;
    
}
h1{
    text-align: center;
    font-family: monospace;
    /*color: var(--lighter-blue);*/

    
}
.fruit >h1{
    color: var(--lighter-blue);
}

header img{
    height: 80px;
    width: 80px;
    position: absolute;
    left: 90px;
    top: 80px;
    z-index: 1;
   
}
.choose-fruit{
    position: absolute;
    left: 78%;
    bottom: 55%;
}
.first-line{
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: var(--darker-blue);
}


.square{
    position: absolute;
    left: 80px;
    top: 65px;
    height: 100px;
    width: 100px;
    border: 4px solid var(--lighter-blue);
    z-index: 2;
}
nav > ul{
  display: flex;
  gap: 3rem;
  list-style-type: none;
  justify-content: ;
  
}
nav > ul> li{
    margin-bottom: 1rem;
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    
}
nav > ul> li > a{
    color: var(--darker-blue);
}

.read-more > h1{ 

    font-size: 2.5rem;
    max-width: 50%;
    font-family: palatino;
    color: var(--darker-blue);
    
}
.read-more{
  
    margin-top: -50px;
}
span{
    
}
#first-h::first-letter{
    font-size: 2rem;
}
.big{
    font-size: 2rem;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.userpw{
    position: absolute;
    left: 780px;
    top: 120px;
    color: var(--lighter-blue);
}
.userpw > label > span{
    position: absolute;
    bottom: 30px;   
}

input[type=text]{
    border-radius: 40px;
  
}